



.where video {
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}
.line {
    border: 1px solid black;
    width: 100%;
}
.line-2 {
    border: 1px solid white;

}

ul li {
    font-weight: bold;
}
